<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/my_profile.css') }}">
</head>

<body>
	<div class="head">
		<a href="/" class="avrora">Avrora<a>
	</div>
	<div>
		<form action="/edit/{{ name }}" method="get">
			<p style="text-align: center"><button class="name">{{ name }}</button></p>
		</form>
		<div class="stat">
			<p class="status">{{ status }}</p>
		</div>
	</div>
</body>
</html>