/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.head {
  display: flex;
  justify-content:space-between;
  background-color: #99ff99;
  color: black;
  width: all;
  font-size: 50px;
  border-bottom: 2px solid black;
  font-family: Monospace;
  padding: 5px 20px 5px 20px;
}

.avrora {
  text-decoration: none;
  color: black;
  transition: color 0.5s 3ms;
}

.avrora:hover {
  color: red;
}

.in {
  font-size: 40px;
  border: 3px solid #555;
  font-family: monospace;
}

.indev {
  font-size: 20px;
  border: 3px solid #555;
  font-family: monospace;
  width: 800px;
}

.b {
  background-color: #99ff99;
  border: 3px solid #555;
  font-family: monospace;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 40px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.b:hover {opacity: 1}